In [19]:
from datetime import datetime
from fund.fund import Fund
from pricer.pricer import Pricer as pricer_list
from ranker.ranker import Ranker as ranker_list
from classifier.classifier import Classifier as classifier_list
from portfolio.aportfolio import APortfolio
from parameters.parameters import Parameters 
import pandas as pd
from returns.products import Products
from processor.processor import Processor as p

In [20]:
# portfolio = APortfolio(pricer_list.QUARTERLY_STOCK_FINANCIAL
#                        ,classifier_list.QUARTERLY_STOCK_FINANCIAL_CLASSIFIER
#                        ,ranker_list.QUARTERLY_STOCK_EARNINGS_RANKER)
portfolio_ii = APortfolio(pricer_list.WEEKLY_STOCK_SPECULATION
                          ,classifier_list.WEEKLY_STOCK_SPECULATION_CLASSIFIER
                          ,ranker_list.WEEKLY_STOCK_ROLLING_RANKER)
# portfolio_iii = APortfolio(pricer_list.WEEKLY_STOCK_ROLLING
#                            ,classifier_list.WEEKLY_STOCK_SPECULATION_CLASSIFIER
#                           ,ranker_list.WEEKLY_STOCK_ROLLING_RANKER)
# portfolio_iv = APortfolio(pricer_list.WEEKLY_STOCK_WINDOW
#                           ,classifier_list.WEEKLY_STOCK_SPECULATION_CLASSIFIER
#                           ,ranker_list.WEEKLY_STOCK_ROLLING_RANKER)
portfolios = [portfolio_ii]

In [21]:
backtest_start_date = datetime(2016,1,1)
backtest_end_date  = datetime(2023,1,1)
current_start_date = datetime(2023,1,1)
current_end_date = datetime.now()

In [22]:
fund = Fund(portfolios,backtest_start_date,backtest_end_date,current_start_date)

In [23]:
fund.initialize_portfolios()

In [24]:
fund.market.connect()
prices = fund.market.retrieve("stocks")
fund.market.disconnect()

In [25]:
prices = p.column_date_processing(prices)

In [26]:
test_portfolio = fund.portfolios[0]
risk_returns = test_portfolio.create_returns()
sim = test_portfolio.create_current_simulation()
merged = test_portfolio.merge_sim_returns(sim,risk_returns)
ranked = test_portfolio.backtest_rank(merged)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 490/490 [00:53<00:00,  9.23it/s]

In [27]:
ranked

,year,week,ticker,price_prediction,rank_prediction,classification_prediction,close,high,low,open,...,weekly_beta,weekly_yield,market_weekly_return,projected_weekly_return,weekly_delta,weekly_delta_sign,weekly_rrr,date_string,date,projected_pe
3391,2023,8,WAT,332.374296,319.963700,1.0,319.6025,324.9225,317.01000,322.8875,...,0.038981,1.000933,1.002691,0.039962,0.039962,1.0,0.001002,2023-W8,2023-02-20,0.001130
3632,2023,9,HSIC,81.380131,78.367075,0.0,78.2420,79.4710,77.39500,78.5900,...,1.360027,1.000759,1.002691,0.040108,0.040108,1.0,0.003387,2023-W9,2023-02-27,0.001599
4070,2023,10,EW,80.526435,77.159020,1.0,77.0720,78.6250,76.68900,78.2440,...,0.197651,1.000945,1.002691,0.044821,0.044821,1.0,0.001290,2023-W10,2023-03-06,0.001129
5604,2023,13,ISRG,245.095823,252.365820,1.0,251.9180,254.9760,249.47554,253.5560,...,0.019950,1.000839,1.002691,-0.027081,0.027081,-1.0,0.000876,2023-W13,2023-03-27,0.001778
8594,2023,19,MOH,303.011178,295.548360,1.0,295.2020,297.8980,292.82300,295.1360,...,-0.887099,1.000888,1.002691,0.026454,0.026454,1.0,-0.000712,2023-W19,2023-05-08,0.001173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10352,2023,23,COP,98.828202,105.972207,0.0,102.0050,103.4950,100.66000,102.6500,...,-0.761172,1.000778,1.002691,-0.031144,0.031144,-1.0,-0.000679,2023-W23,2023-06-05,0.038892
10363,2023,23,CTRA,23.309767,24.535170,1.0,23.9500,24.3150,23.54250,23.8900,...,-0.733698,1.000778,1.002691,-0.026732,0.026732,-1.0,-0.000626,2023-W23,2023-06-05,0.024433
10500,2023,23,KMI,16.556066,17.200680,1.0,16.8050,16.9200,16.67000,16.7800,...,-0.376143,1.000778,1.002691,-0.014813,0.014813,-1.0,0.000058,2023-W23,2023-06-05,0.023545
10588,2023,23,OXY,58.969145,61.512400,1.0,59.4200,60.1875,58.94000,59.7300,...,-0.030291,1.000778,1.002691,-0.007588,0.007588,-1.0,0.000720,2023-W23,2023-06-05,0.035214
10614,2023,23,PSX,92.025137,99.854420,1.0,96.4200,97.6150,94.81000,96.3600,...,-0.488253,1.000778,1.002691,-0.045580,0.045580,-1.0,-0.000157,2023-W23,2023-06-05,0.035619

In [9]:
included_columns = ["date",'year', 'ticker', 'price_prediction', 'rank_prediction',
       'classification_prediction','quarter','quarterly_rrr']

In [10]:
dash = prices.copy().merge(ranked[included_columns[1:]],on = ["year","quarter","ticker"], how="left")

In [11]:
dash[included_columns]

,date,year,ticker,price_prediction,rank_prediction,classification_prediction,quarter,quarterly_rrr
0,2000-01-03,2000,MMM,NaN,NaN,NaN,1,NaN
1,2000-01-04,2000,MMM,NaN,NaN,NaN,1,NaN
2,2000-01-05,2000,MMM,NaN,NaN,NaN,1,NaN
3,2000-01-06,2000,MMM,NaN,NaN,NaN,1,NaN
4,2000-01-07,2000,MMM,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...
2584842,2023-06-12,2023,YUM,NaN,NaN,NaN,2,NaN
2584843,2023-06-12,2023,ZBRA,NaN,NaN,NaN,2,NaN
2584844,2023-06-12,2023,ZBH,NaN,NaN,NaN,2,NaN
2584845,2023-06-12,2023,ZION,NaN,NaN,NaN,2,NaN
2584846,2023-06-12,2023,ZTS,NaN,NaN,NaN,2,NaN

In [13]:
dash[included_columns + ["adjclose"]].dropna().sort_values("date")

,date,year,ticker,price_prediction,rank_prediction,classification_prediction,quarter,quarterly_rrr,adjclose
89586,2023-01-03,2023,AKAM,106.192124,2052.625306,0.0,1,0.013123,84.970000
1212373,2023-01-03,2023,HPQ,66.686839,808.541980,0.0,1,0.020859,26.498523
1397205,2023-01-03,2023,KLAC,356.275346,703598.625411,1.0,1,0.022659,375.316903
2446239,2023-01-03,2023,WAB,100.805422,1306.134861,1.0,1,0.010389,99.597571
1168937,2023-01-03,2023,HPE,19.858243,1468.382993,0.0,1,0.011776,15.926445
...,...,...,...,...,...,...,...,...,...
2169880,2023-03-31,2023,SWK,95.178060,9431.180011,0.0,1,0.019508,80.580000
2256206,2023-03-31,2023,TER,100.010523,2672.502085,0.0,1,0.031889,107.510000
2294645,2023-03-31,2023,TT,183.425509,2462.259544,1.0,1,0.020732,183.980000
1212434,2023-03-31,2023,HPQ,66.686839,808.541980,0.0,1,0.020859,29.350000
2505305,2023-03-31,2023,WRK,54.415453,1964.726858,0.0,1,0.005873,30.470000

In [16]:
# fund.reset()
# fund.initialize_historical_backtesters()
# fund.run_historical_backtest()

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 490/490 [03:20<00:00,  2.45it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 490/490 [00:51<00:00,  9.60it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 490/490 [00:53<00:00,  9.10it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 490/490 [00:56<00:00,  8.63it/s]

In [8]:
# fund.reset()
# fund.initialize_backtesters()
# fund.run_backtest()

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 490/490 [00:54<00:00,  9.04it/s]