In [1]:
import pandas as pd
from database.market import Market
from database.adatabase import ADatabase
from datetime import datetime, timedelta
from tqdm import tqdm
from extractor.tiingo_extractor import TiingoExtractor
from extractor.forex_extractor import FOREXExtractor
from extractor.fred_extractor import FREDExtractor
from processor.processor import Processor as p

market = Market()
sp500 = ADatabase("sp500")
market.connect()
sp5 = market.retrieve("sp500")
market.disconnect()

start = datetime(2000,1,1).strftime("%Y-%m-%d")
end = datetime.now().strftime("%Y-%m-%d")

market.connect()
try:
    data = FREDExtractor.spy(start,end)
    market.drop("spy")
    market.store("spy",data)
#     data = FREDExtractor.tyields(start,end)
#     market.store("tyields",data)
#     data = FREDExtractor.tyields2(start,end)
#     market.store("tyields2",data)
#     data = FREDExtractor.tyields10(start,end)
#     market.store("tyields10",data)
except Exception as e:
    print(str(e))
market.disconnect()

In [2]:
data

     realtime_start realtime_end        date     value
0        2023-07-30   2023-07-30  2000-01-03   4131.15
1        2023-07-30   2023-07-30  2000-01-04   3901.69
2        2023-07-30   2023-07-30  2000-01-05   3877.54
3        2023-07-30   2023-07-30  2000-01-06   3727.13
4        2023-07-30   2023-07-30  2000-01-07   3882.62
...             ...          ...         ...       ...
6144     2023-07-30   2023-07-30  2023-07-21  14032.81
6145     2023-07-30   2023-07-30  2023-07-24  14058.87
6146     2023-07-30   2023-07-30  2023-07-25  14144.56
6147     2023-07-30   2023-07-30  2023-07-26  14127.28
6148     2023-07-30   2023-07-30  2023-07-27  14050.11

[5930 rows x 4 columns]

In [3]:
# market.connect()
# tyields = market.retrieve("tyields")
# tyields2 = market.retrieve("tyields2")
# tyields10 = market.retrieve("tyields10")
# bench = market.retrieve("spy")
# market.disconnect()
# market.cloud_connect()
# market.drop("tyields")
# market.drop("tyields2")
# market.drop("tyields10")
# market.drop("spy")
# market.store("tyields",tyields)
# market.store("tyields2",tyields2)
# market.store("tyields10",tyields10)
# market.store("spy",bench)
# market.disconnect()