In [1]:
from strategy.progressreport import ProgressReport
from datetime import datetime, timedelta
import pytz
import pandas as pd
from tqdm import tqdm
from processor.processor import Processor as p

In [2]:
ProgressReport.required_params()

{'timeframe': 'quarterly', 'requirement': 5}

In [3]:
start_date = datetime(2015,1,1)
end_date = datetime(2021,1,1)
params = {"timeframe":"quarterly","requirement":10}
strat = ProgressReport(start_date,end_date,params)
strat.subscribe()
sim = strat.create_sim()

In [5]:
recs = strat.create_rec(datetime.now())

progress_report_sim: 100%|████████████████████████████████████████████████████████████████████████████████████████████████| 501/501 [01:17<00:00,  6.44it/s]

In [6]:
recs

           date  adjclose     delta ticker  timeframe  requirement
7039 2021-12-16    178.31  0.009226    MMM  quarterly           10
7041 2021-12-16    136.09  0.161078    ABT  quarterly           10
2257 2021-12-16    131.78  0.207993   ABBV  quarterly           10
7041 2021-12-16    310.00 -0.041227   ABMD  quarterly           10
5137 2021-12-16    400.60  0.233147    ACN  quarterly           10
...         ...       ...       ...    ...        ...          ...
4819 2021-12-16     80.56 -0.076253   WYNN  quarterly           10
7040 2021-12-16     68.95  0.103377    XEL  quarterly           10
7040 2021-12-16    199.78  0.315467   XLNX  quarterly           10
2541 2021-12-16    118.64 -0.021929    XYL  quarterly           10
23   2021-12-16    133.59  0.058390    YUM  quarterly           10

[500 rows x 6 columns]