In [12]:
from database.market import Market
from database.sec import SEC
import pandas as pd
from tqdm import tqdm

In [4]:
market = Market()
sec = SEC()

In [5]:
market.connect()
sp500 = market.retrieve("sp500")
market.disconnect()

In [13]:
analysis = []
sec.connect()
for ticker in tqdm(sp500["Symbol"]):
    try:
        cik = sp500[sp500["Symbol"]==ticker]["CIK"].item()
        filing = sec.retrieve_filing_data(cik)
        analysis.append({"ticker":ticker,"count":filing.index.size})
    except:
        print(str(ticker),"no filing")
sec.disconnect()

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 497/497 [00:11<00:00, 41.45it/s]

In [14]:
a = pd.DataFrame(analysis)

In [23]:
a[a["count"]>=28]

    ticker  count
0      MMM     50
1      AOS     44
2      ABT     43
3     ABBV     40
4     ABMD     44
..     ...    ...
492    YUM     44
493   ZBRA     47
494    ZBH     45
495   ZION     44
496    ZTS     42

[470 rows x 2 columns]